################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Demo/bin/Debug
/Demo/bin/Debug
/Demo/obj/Debug
