################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Demo/bin/Debug
/Demo/bin/Debug
/Demo/obj/Debug
/ConsoleTester/bin/Debug
/ConsoleTester/obj/Debug
/FleeSharp/bin/Debug
/FleeSharp/obj/Debug
/Lib/bin/Debug
/Lib/obj/Debug
/Tests/obj/Debug
/Tests/bin/Debug
/packages
/FleeSharp.Tests/obj/Debug
/FleeSharp.Tests/bin/Debug
